<!DOCTYPE html>
<html>
   <head>
      <title>Login Form</title>
      <link rel="stylesheet" type="text/css" href="style.css">
   </head>
   <body>
      <div class="loginbox">
         <h1>Sign Up</h1>
         <form>
            Username:<br> <input type="text" name="username" placeholder="Insert username/email here">
            <br>
            Password:<br> <input type="password" name="pw" placeholder="Insert password here">
            <br>
            <input type="submit" id="submitDetails" name="submitDetails" class="registerbtn" value="Submit" /> 
            <br>
         </form>
      </div>
   </body>
</html>